body {
  background-color: #A09EF0;
  color: white;
}

  .darkMode {
    background-color: #2A2C2E;
  }

.App-scrollLock {
  overflow: hidden;
}

.App-typedFix {
  min-height: 1.5em;
  text-align: center;
  padding: 0em 0.2em 0em 0.2em;
}

.App-backImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5C5DB8;
}

.App-dropShadow {
  filter: drop-shadow(3px 4px 2px #474747);
}

.App-backMaxHeight {
  height: 100vh;
}

.App-zIndex-1 {
  z-index: 1;
}

.App-zIndex-2 {
  z-index: 2;
}

.App-Invisible-Img {
  height: 0px;
  opacity: 0;
}

/* Intro (and Contact) */

.App-backImg-intro-light {
  background-image: url('/assets/img/background/backImg-intro-light.jpg');
  min-height: 100vh;
}
.App-backImg-intro-light-small {
  background-image: url('/assets/img/background/backImg-intro-light-small.jpg');
  min-height: 100vh;
}

.App-backImg-intro-dark {
  background-image: url("/assets/img/background/backImg-intro-dark.jpg");
  min-height: 100vh;
}
.App-backImg-intro-dark-small {
  background-image: url("/assets/img/background/backImg-intro-dark-small.jpg");
  min-height: 100vh;
}

/* My Work */

.App-backImg-myWork-light {
    background-image: url("/assets/img/background/backImg-myWork-light.jpg");
    min-height: 12em;
}
.App-backImg-myWork-light-small {
    background-image: url("/assets/img/background/backImg-myWork-light-small.jpg");
    min-height: 12em;
}

.App-backImg-myWork-dark {
    background-image: url("/assets/img/background/backImg-myWork-dark.jpg");
    min-height: 12em;
}
.App-backImg-myWork-dark-small {
    background-image: url("/assets/img/background/backImg-myWork-dark-small.jpg");
    min-height: 12em;
}

/* About Me */

.App-backImg-aboutMe-light {
    background-image: url("/assets/img/background/backImg-aboutMe-light.jpg");
    min-height: 12em;
}
.App-backImg-aboutMe-light-small {
    background-image: url("/assets/img/background/backImg-aboutMe-light-small.jpg");
    min-height: 12em;
}

.App-backImg-aboutMe-dark {
    background-image: url("/assets/img/background/backImg-aboutMe-dark.jpg");
    min-height: 12em;
}
.App-backImg-aboutMe-dark-small {
    background-image: url("/assets/img/background/backImg-aboutMe-dark-small.jpg");
    min-height: 12em;
}

/* Contact */
.App-backImg-contact-light {
  background-image: url("/assets/img/background/backImg-contact-light.jpg");
}
.App-backImg-contact-light-small {
  background-image: url("/assets/img/background/backImg-contact-light-small.jpg");
}

.App-backImg-Pulse::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2s infinite;
  background-color: white;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 199, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}