.Icons {
    background-color: #FFAA0D;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust the size as needed */
    gap: 0.75rem; /* Add spacing between grid items */
    justify-content: center;
    justify-items: center;
    align-content: stretch;
}

.Icons-icon {
    width: 6rem;
    padding: .8rem;
    margin: auto;
    filter: brightness(0.3) invert(0.3);
    /* flex-basis: 10%; */
}
    .Icons-icon:hover {
        filter: brightness(1) invert(0);
    }