.Icons {
    background-color: #FFAA0D;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.Icons-icon {
    width: 6rem;
    padding: .8rem;
    margin: auto;
    filter: brightness(0) invert(0.3);;
    /* flex-basis: 10%; */
}
    .Icons-icon:hover {
        filter: brightness(1) invert(0);;
    }