.ProjCards-card {
    /* position: relative; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18em;
    width: 18em;
    border-radius: 12%;
    margin: 1em;
}

.ProjCards-img {
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 12%;
    z-index: -1;
}

.ProjCards-opacity {
    opacity: 21%;
}

.ProjCards-content {
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
}

.ProjCards-button {
    background-color: rgba(0, 0, 0, 0.25);
    border: solid;
    color: white;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}

.ProjCards-button:hover {
    border-color: #FFBD4B;
    color: #FFBD4B;
}

.ProjCards-center {
    text-align: center;
}
