.ContactCards-container {
    border-radius: 20%;
    background-color: #F09C47;
    padding: 1em;
    margin: 1.4rem;
    width: 12rem;
    /* margin-right: 4vw; */
}

.ContactCards-img {
    height: 10rem;
    padding: 12px;
    filter: invert(1);
}

.ContactCards-darkImg {
    filter: invert(0);
}