.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.mainPhoto {
    border-radius: 50%;
    height: 50vh;
    transition: 350ms;
}

.typedFix {
    min-height: 1.5em;
    text-align: center;
}

.intro-margin {
    margin-top: 8vh;
}

.backImg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .backImg-1-light {
        background-image: url("../../data/production/intro-dworld-light.png");
        min-height: 100%;
    }
    .backImg-1-dark {
        background-image: url("../../data/production/intro-dworld-dark.jpg");
        min-height: 100%;
    }

@media only screen and (max-width: 560px) {
	.mainPhoto {
		height: 40vh;
        transition: 350ms;
	}

    @media only screen and (max-width: 420px) {
        .mainPhoto {
            height: 25vh;
            max-width: 80%;
            transition: 350ms;
        }
        .intro {
            min-width: 100%;
            transition: 350ms;
        }
    }
}