.Contact-title {
    padding-top: 1.4em;
    text-align: center;
}

.Contact-body {
    max-width: 1550px;
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
} 

    .backImg-4-light {
        background-image: url("../../data/production/background-img/backImg-1-light.png");
    }
    .backImg-4-dark {
        background-image: url("../../data/production/background-img/backImg-1-dark.jpg");
    }


