.Contact-container {
    min-height: 50vh;
}

.Contact-title {
    padding-top: 1.4em;
    text-align: center;
}

.Contact-cards {
    /* max-width: 1550px; */
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
} 

    .backImg-4-light {
        background-image: url("../../data/production/background-img/backImg-1-light.png");
    }
    .backImg-4-dark {
        background-image: url("../../data/production/background-img/backImg-1-dark.png");
    }


