.Contact-container {
    display: flex;
    justify-content: center;
    height: 40vh;
    padding-top: 4vh;
}

    .backImg-4-light {
        background-image: url("../../data/production/background-img/backImg-1-light.png");
        min-width: 100vh;
    }
    .backImg-4-dark {
        background-image: url("../../data/production/background-img/backImg-1-dark.jpg");
        min-width: 100%;
    }

