.About-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.About-photo {
    margin: 2.2rem 2.8rem 1.2rem 1.7rem;
    border-radius: 280px;
    height: 13rem;
    transition: 350ms;
}

.About-text {
    margin: 2.2rem 0vh 2.2rem 0vh;
    width: 80vw;
    transition: 350ms;
    max-width: 980px;
}

@media only screen and (min-width: 960px) {
    .About-photo {
        height: 18rem;
        transition: 350ms;
    }
	.About-text {
		width: 58vw;
        transition: 350ms;
	}
}