.backImg-2-light {
    background-image: url("../../data/production/background-img/backImg-2-light.png");
    min-height: 12em;
}
.backImg-2-dark {
    background-image: url("../../data/production/background-img/backImg-2-dark.png");
    min-height: 12em;
}

.BackImg2-container {
    display: flex;
    justify-content: center;
    align-items: center;
}