.ProjModal-container {
    /* display: flex; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #5c5dbb;
    border-radius: 2%;
    margin: 1em;
    /* width: 80vw; */
    overflow: auto;
}

.ProjModal-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1em;
    padding-right: 0.8em;
}

.ProjModal-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.ProjModal-img {
    width: 18rem;
    height: 18rem;
    border-radius: 20%;
    margin-bottom: 2rem;
}

.ProjModal-button {
    background-color: #57c74d;
    border: solid;
    color: white;
    border-radius: 20%;
    padding: 0.4rem 0.9rem;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}